.results {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
}

.results__item {
  display: flex;
  position: relative;
  margin: 0 1% 15px;
  /* box-shadow: 0 3px 20px $drop-shadow; */
  background:cadetblue;
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
  list-style: none;
  flex-direction: column;
}

.results__bg {
  position: absolute;
  right: -90px;
  bottom: 10px;
  width: auto;
  height: 80px;

  svg {
    width: 100%;
    height: 100%;
    fill: transparentize(#fff, .9);
  }

  #planet {
    right: -80px;
  }
}

.results__title {
  display: inline-block;
  margin: 0 0 10px;
  border-bottom: 1px solid #d8d499;
  padding-bottom: 3px;
  line-height: 2rem;
  font-family: 'Josefin Slab', serif;
  font-size: 1.5rem;

  span {
    font-size: 1rem;
  }
}

.results__info {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5rem;

  span {
    color: #d8d499;
  }
}
